.topicWrapper {
  margin: auto;
  width: 60%;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 1px rgb(223, 223, 223);
  position: relative;
  top: 60px;
  padding: 10px 20px 600px 10px;
  margin-top: 36px;
}
