.topicListWrapper {
    width: 60%;
    margin: auto;
    padding-top: 60px;
    color: black;
    background-color: white;
}
.topicListItem {
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 6px 1px rgb(223, 223, 223);
    text-align: center;
    height: 5rem;
}
/*ІНША СТОРІНКА*/
.topicWrapper {

}